@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  --color-primary: #9f62f2;
  --color-secondary: #001931;
}

* {
  font-family: "Inter", sans-serif;
}

.btn-primary {
  @apply bg-linear-to-r from-[#632EE3] to-[#9F62F2] text-base-100 border-0;
}
